<div class="header-container">
    <div class="logo">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}#about">About</a></li>
            <li><a href="{{ .Site.BaseURL }}#solutions">Solutions</a></li>
            <li><a href="{{ .Site.BaseURL }}#motivation">Motivation</a></li>
            <li><a href="{{ .Site.BaseURL }}#contact">Contact</a></li>
            <li class="dropdown">
                <a href="{{ .Site.BaseURL }}byebites/">ByeBites</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ .Site.BaseURL }}byebites/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="{{ .Site.BaseURL }}byebites/user-agreement/">User Agreement</a></li>
                    <li><a href="{{ .Site.BaseURL }}byebites/health-disclaimer/">Health Disclaimer</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

