<!DOCTYPE html>
<html 
lang="{{ or site.Language.LanguageCode site.Language.Lang }}" 
dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">

  <!-- CSS -->
  {{ with resources.Get "css/main.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}

  <!-- ByeBites CSS -->
  {{ with resources.Get "css/byebites.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}

  <!-- ByeBites CSS -->
  {{ with resources.Get "css/home.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
  {{ end }}

  <!-- JavaScript -->
  {{ with resources.Get "js/main.js" }}
    <script src="{{ .RelPermalink }}" defer></script>
  {{ end }}
</head>
<body>
  <header>
      <div class="logo">AuroZeon</div>
      <nav>
          <a href="/">AuroZeon Home</a>
          <a href="/byebites" class="active">ByeBites</a>
          <a href="/byebites/privacy-policy">Privacy Policy</a>
          <a href="/byebites/user-agreement">User Agreement</a>
          <a href="/byebites/health-disclaimer">Health Disclaimer</a>
          <a href="/byebites/support">Contact Us</a>
      </nav>
  </header>

  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>